[Unit]
Description=Aiogram bot
After=network.target

[Service]
User=root
Group=root
Type=simple
WorkingDirectory=$$$$
ExecStart=$$$$
EnvironmentFile=$$$$
Restart=always

[Install]
WantedBy=multi-user.target